@import 'styles/variables';

.not-found {
  background-color: $color-not-found-background;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    color: $color-not-found-text;
    padding: 5%;

    h1 {
      font-size: 60px;
      color: #777777;
      line-height: 1;
      font-weight: normal;
      margin-top: 0;
    }

    h2 {
      color: $color-not-found-h2;
    }

    a {
      color: $color-not-found-link;
      text-decoration: none;

      &:hover {
        color: $color-not-found-link-hover;
      }
    }
  }
}
