// colors
$color-extra-light-yellow:  #ffd76c;
$color-light-yellow:        #ffd444;
$color-yellow:              #f3bc39;
$color-dark-yellow:         #d0a237;

$color-light-orange-yellow: #f0af46;
$color-orange-yellow:       #faa31f;

$color-light-orange:        #e6823b;
$color-orange:              #e87722;
$color-dark-orange:         #c65c0d;

$color-white:               #ffffff;
$color-grey-97:             #f8f8f8;
$color-grey-92:             #ececec;
$color-grey-66:             #a8a7a7;
$color-grey-53:             #878787;
$color-grey-13:             #222222;
$color-black:               #000000;

// Non FWD Colors
$color-red:                 #f5222d;
$color-dark-red:            #ed1c24;
$color-blue:                #155e85;
$color-dark-blue:           #004977;
